html {
	font-family: "Verdana", "Helvetica", monospace;
	background-color: #3B3C36; /*#556B2F*/ 
}

#container {
	position: relative;
	height: 97vh;
	width: 97vw;
}

#name {
	color: white;
	font-size: 18vh;
}

.description {
	color: #C3C3C3;
	font-size: 9vh;
	margin-bottom: -4.1vh;
}

#strikethrough {
	text-decoration: line-through;
}

#linksection {
	position: absolute;
	bottom: 0;
	right: 0;
}

a {
	font-size: 8vh;
	text-decoration: none;
	color: white;
}

td {
	padding: 15px 40px;
}

td:hover {
	opacity: 0.7;
}

#logo {
	width: 20vh;
	display: block;
	margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.imagecontainer {
	text-align: center;
}

@media screen and (max-width: 655px) {
	#name {
		font-size: 16vw;
	}

	.description {
		font-size: 10vw;
		margin-bottom: -4.7vw;
	}

	#logo {
		padding: 21vh;
		width: 20vw;
	}

	a {
		font-size: 5vw;
	}

	td {
		padding: 15px 25px;
	}
}

@media screen and (max-width: 945px) and (min-width: 656px) {
	#name {
		font-size: 12vw;
	}

	.description {
		font-size: 7vw;
		margin-bottom: -3.2vw;
	}

	#logo {
		padding: 10vh;
		width: 14vw;
	}

	a {
		font-size: 5vw;
	}

	td {
		padding: 15px 25px;
	}
}